/* @charset "UTF-8"; */

li {
    background-color: aqua;
}

p {
    display: none;
    background-color: brown;
}

.hh1 {
    display: block;
    background-color: aquamarine;
}

.hh2 {
    display: inline-block;
    background-color: brown;
    margin-bottom: 30px;
    margin-left: 30px;
}