img {
    width: 400px;
    position:absolute;
    top: 40%;
    margin-left: 200px;
}

table td{
    border: 1px solid black;
}
table th{
    border: 1px solid black;
}

table {
    border: 1px solid black;
}